<!DOCTYPE html>
<html>
    <head>
        <title>

        </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
        <!-- Google Fonts -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
        <!-- Bootstrap core CSS -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
        <!-- Material Design Bootstrap -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
        <script data-ad-client="ca-pub-7620105396781586" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    </head>
    <body>
{{>header}}
<!--================Banner======================-->
<div class="container-fluid z-depth-1 my-5">


  <!--Section: Content-->
  <section class="dark-grey-text">

    <div class="row pr-lg-5">
      <div class="col-md-7  mb-5">

        <div class="view mt-5 d-flex justify-content-center">
          <img height="400" src="../static/img/programmer.png" class="" alt="smaple image">
        </div>

      </div>
      <div class="col-md-5 d-flex align-items-center">
        <div>
          
            <h2 style="font-size: 40px; color:black; text-align:center" ><strong>Web
            <span style="color: #3C40C6;">Hosting</span></strong>

          </h2></br>
          <h3 ><strong>
            <span style="color: #3C40C6;">Bachelors</span >

            <span style="color:black;">Code</span>
          </strong></h3>

        	<p style="text-align: justify; color:black;">We are providig one of the best IT solution in Patna at very affordable price, BachelorsCode.tech is the leading digital agency specializing in target driven omni-channel solutions. Our team is a curious mix of entrepreneurs, designers, path breakers and sports fanatics all having nothing in common except for zeal and love towards the possibilities of creating products, services that are utilized and loved by millions. We digitalize your dreams with our designing skills.</p>
            {{#if user}}
                <h3>Hello Mr. {{user.name}}</h3>
            {{else}}
                <a href="" class="btn btn-default btn-rounded my-3" data-toggle="modal" data-target="#modalLRForm">LogIn/Register</a>
            {{/if}}
        	

        </div>
      </div>
    </div>

  </section>
  <!--Section: Content-->


</div>
<!--================/Banner=====================--> 
<div class="text-center my-5 mb-5" style="margin:auto;">
    <h1 style="font-size: 100px;">404!</h1>
</div>
{{>footer}}
 <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!-- Bootstrap tooltips -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
        <!-- Bootstrap core JavaScript -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
        <!-- MDB core JavaScript -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>
    </body>

</html>